In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
### Load the trained model,scaler model, onehotencoding

model = load_model("model.h5")
## Load the scaler
with open("label_encoder.pkl", "rb") as f:
    label_encoder = pickle.load(f)

## Load the one-hot encoder
with open("onehot_encoder_Geo.pkl", "rb") as f:
    onehot_encoder_geo = pickle.load(f)

with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [44]:
#Example Input data
input_data = pd.DataFrame({
    'CreditScore': 600,
    'Geography':'France',
    'Gender':'Male',
    'Age': 35,
    'Tenure': 5,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
},index=[0])

In [45]:
one_hot_encoded_geo= onehot_encoder_geo.transform(input_data[['Geography']])
one_hot_encoded_geo = pd.DataFrame(one_hot_encoded_geo.toarray(),columns = 
                                   onehot_encoder_geo.get_feature_names_out(["Geography"]))

In [46]:
#Encode categorical Variable
input_data['Gender'] = label_encoder.transform(input_data[['Gender']])

d:\DeepLearning\ANN_Classification\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [47]:
##Concatenation 
input_df = pd.concat([input_data.drop("Geography",axis=1), one_hot_encoded_geo], axis=1)

In [48]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,35,5,60000,2,1,1,50000,1.0,0.0,0.0

In [15]:
label_encoder.transform(label_encoder.classes_)

array([0, 1])

In [31]:
### Scaling the data
input_scaled = scaler.transform(input_df)

In [32]:
##Predict CHurn 
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 123ms/step

array([[0.02929299]], dtype=float32)

d:\DeepLearning\ANN_Classification\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

np.int64(1)